#root {
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  /* padding-inline: 3%; */
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Navbar {
  background-color: #6741d9;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  place-items: center;
  padding-inline: 0px;
  align-self: center;
  border-radius: 15px;
}

.Navbar * {
  margin: 0px;
  padding: 0px
}
.Navbar > * {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0px;
  margin: 0px;
  padding: 0px

}
.logo * {
  margin: 0px;
  padding: 0px
}

.movie {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  height: 25%;

  
  will-change: opacity;
  /* transition: filter 300ms; */
  
}

.movie:hover {
  opacity: 60%
}

.movie-details *{
  color: white;
  margin: 0px;
}

.movie-details {
  width: 100%;

}

.watchedMovie-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 0%;
}

.watchedMovie img,
.foundMovie img {
  max-width: 100%;
  max-height: 8em; /* Adjust to your preference */
  object-fit: cover; /* Maintains aspect ratio */
}

.watchedMovie-rating  {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.box {
  background-color: #2b3035;
}

.box-watchedMovies {
  overflow-y: scroll;
}

.box-watchedMovies .watchedMovie,
.box-searchResults .foundMovie {
  border-bottom: 1px solid #ccc; /* Add a subtle line at the bottom */
  padding-bottom: 10px; /* Optional: Adjust spacing between movies */
}

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 3fr;
  height: 80vh;
  width: 100%;
  margin: 0px;
}


.app {
  padding-top: 1%;
  width: 98%;
  display: grid;
  gap: 2%;
  grid-template-rows: 1fr 9fr;
  align-items: center;
}

.app * {}

body {
  overflow: hidden;
  padding-top: 2%;
  height: 105vh;
  width: 100vw;
  background-color: #212529;
  margin: 0;
  padding: 0;
}

.logo input {
  transition: all 0.5s ease-in-out;
}

.Navbar .logo * {
  color: white
}
.foundResults h2 {
  color: white
}

.Navbar input {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  padding: 2%;
  color: #dee2e6;
  font-size: 1.3rem;
  background-color: #7950f2;
  border: 0px
}

.Navbar input :focus {
  outline: none;
}

.mainLoginInput::-webkit-input-placeholder {

}

.Navbar input&.active {
    transform: translate(-10px, -10px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.box-searchResults {
  overflow-y: scroll;
}

.loading-para {
  color: white;
  font-size: 32px;
  text-align: center;
  margin: auto
}

.top-div {
  display: flex;
  background-color: #343a40;
  height: 40%;
  width: 100%;
}

.top-div img{
  margin-left: 0px;
  max-height: 100%;
  max-width: 30%;
}

.top-movie-details {
  width: 70%;
  padding: 5%;
  padding-top: 0px;
}

.top-movie-details *{
  margin: 0px;
}

.main {
  align-self: start;
}

.moviePort-box {
  position: relative;
  top: -7%;
  height: 100%
}

.hide-MoviePort {
  z-index: 3;
  position: relative;
  left: 92%;
  top: 2%;
  border-radius: 50%;
  text-align: center;
}

.watchedMovies-overview{
  height: 27%;
  width: 34%;
  border-radius: 80%;
  margin: auto;
  margin-top: 1%;
  padding-inline: 20%;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13%;
}

.watchedMovies-overview * {
  color: white;
  margin: 0px;
}

.overview-details {
  display: flex;
  justify-content: space-between;
}

.body-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 5%;
  padding-top: 3%;
}